<%= form_with(model: [ :admin, location ], local: true) do |form| %>
  <% if location.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(location.errors.count, "error") %> prohibited this location from being saved:</h2>
      <ul>
        <%location.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="container">
    <div class="form-group">
      <%= form.label(:name, "Location's name: ") %>
      <%= form.text_field :name, class: 'form-control', placeholder: "New New York" %> 
    </div>

    <div class='row justify-content-center'>
      <a class = 'btn btn-secondary btn-sm mr-1 mt-2' href="<%=admin_locations_path%>" role=“button”> Back </a>
      <button type='Submit' class='btn btn-primary btn-sm mt-2' >Submit</button>
    </div>
  </div>
<% end %>

