<%= form_with(model: [ :admin, location ], local: true) do |form| %>
  <% if location.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(location.errors.count, "error") %> prohibited this location from being saved:</h2>
      <ul>
        <%location.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="container">
    <div class="row justify-content-center">
      <%= form.label(:name, 'Locations name: ') %>
      <%= form.text_field(:name) %> 
    </div>

    <div class='row justify-content-center'>
      <%= form.label(:parent, 'Choose a parent location, if any: ') %>
      <%= form.collection_select :parent_id, Location.all.where('parent_id is null'), :id, :name, { prompt: 'Select one' }, {:multiple => false, :style => "width:450px;", class: "form-control"}%>
    </div>

    <div class="actions">
      <%= form.submit %>
    </div>

    <div class="row justify-content-center"> 
      <%= link_to 'Back',admin_locations_path %>
    </div>
  </div>
  
<% end %>

