<%= form_with model: @location, url: admin_location_path, local: true do |f| %>
  <h1>Editing Location <%= @location.name %></h1>
  <p>New Location Name:
    <%= f.label :name %>
    <%= f.text_field :name %>
  </p>
  <p>
    <%=f.submit%>
  </p>
<%end%>