<div class="container">
  <p id="notice"><%= notice %></p>

  <h3> Weapon Name: <%= @weapon.name %> </h3>

  <h5> Weapon Type: </h5>
  <p> <%= @weapon.weapon_type.capitalize %> </p>

  <h5> Base Power: </h5>
  <p> <%= @weapon.base_power %> <p>

  <h5> Max Power: </h5>
  <p> <%= @weapon.max_power %> <p>

  <% if @weapon.elemental_power%>
    <h5> Element: </h5>
    <p> <%= @weapon.elemental_power.name%> <p>
  <% end %>

  <% if @weapon.elemental_power_amount%>
    <h5> Elemental Power Amount:</h5>
    <p> <%= @weapon.elemental_power_amount %> <p>
  <% end %>

  <% if @weapon.perk%>
    <h5> Perk: </h5>
    <p> <%= @weapon.perk.name %> <p>
  <% end %>

  <% if @weapon.perk_amount%>
    <h5> Perk Amount:</h5>
    <p> <%= @weapon.perk_amount %> <p>
  <% end %>

  <% if @weapon.cell_slot_type_one%>
    <h5> Cell Slot 1: </h5>
    <p> <%= @weapon.cell_slot_type_one %> <p>
  <% end %>

  <% if @weapon.cell_slot_type_two%>
    <h5> Cell Slot 2: </h5>
    <p> <%= @weapon.cell_slot_type_two %> <p>
  <% end %>

  <% if @weapon.unique_effect? %>
    <h5>Unique Effect: </h5>
    <p> <%= @weapon.unique_effect %> <p>
  <% end %>

  <%= link_to 'Edit', edit_admin_weapon_path(@weapon) %> | <%= link_to 'Back', admin_weapons_path %> 
</div>