<%= form_with model: @element, url: admin_element_path, local: true do |f| %>
  <h1>Editing Element <%= @element.name %></h1>
  <p>New Name:
    <%= f.label :name %>
      <%= f.text_field :name %>
  </p>
  <p>
    <%=f.submit%>
  </p>
  <%end%>