<%= form_with(model: [ :admin, behemoth ], local: true) do |form| %>
  <% if behemoth.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(behemoth.errors.count, "error") %> prohibited this behemoth from being saved:</h2>
      <ul>
        <%behemoth.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="container">
    <div class="row justify-content-center">
      <%= form.label(:name, 'Behemoth Name: ') %>
      <%= form.text_field(:name) %> 
    </div>

    <div class="row justify-content-center">
      <%= form.label(:damage_type, 'Elemental Damage: ') %>
    </div>

    <div class="checkbox">
      <%= form.collection_check_boxes(:damage_type_ids, Element.all, :id, :name) %>
    </div>

    <div class="row justify-content-center">
      <%= form.label(:weakness_type, 'Elemental Weakness: ') %>
    </div>

    <div class="row justify-content-center">
      <%= form.collection_check_boxes(:weakness_type_ids, Element.all, :id, :name) %>
    </div>
   
    <div class="row justify-content-center">
      <%= form.label(:location_ids, 'Spawn Location(s): ') %>
    </div>

    <div class='row justify-content-center'>
      <%= form.grouped_collection_select :location_ids, Location.where(parent_id: nil), :children, :name, :id, :name, {}, { multiple: true, :style => "width:450px;", class: "form-control"} %>
    </div>

    <div class="row justify-content-center">
      <%= form.label 'Logo' %>
      <%= form.file_field :logo %>
    </div>

    <div class="actions">
      <%= form.submit %>
    </div>

    <div class="row justify-content-center"> 
      <%= link_to 'Back',admin_behemoths_path %>
    </div>
  </div>
<% end %>

