<%= form_with(model: [ :admin, behemoth ], local: true) do |form| %>
  <% if behemoth.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(behemoth.errors.count, "error") %> prohibited this behemoth from being saved:</h2>
      <ul>
        <%behemoth.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="container">
    <div class="row justify-content-center">
      <%= form.label(:name, 'Behemoth name: ') %>
      <%= form.text_field(:name) %> 
    </div>

    <div class="row justify-content-center">
      <%= form.label(:damage_type, 'Elemental Damage: ') %>
    </div>

    <div class="checkbox">
      <%= form.collection_check_boxes(:damage_type_ids, Element.all, :id, :name) %>
    </div>

    <div class="row justify-content-center">
      <%= form.label(:weakness_type, 'Elemental Weakness: ') %>
    </div>

    <%= form.collection_check_boxes(:weakness_type_ids, Element.all, :id, :name) %>

    <div class="row justify-content-center">
      <%= form.label 'Location' %>
      <%= form.collection_select :location_id, Location.all, :id, :name, {},{ class: "custom-select" } %> 
    </div>

    <div class="actions">
      <%= form.submit %>
    </div>

    <div class="row justify-content-center"> 
      <%= link_to 'Back',admin_behemoths_path %>
    </div>
  </div>
  
<% end %>

