<div class="container">
  <p id="notice">
    <%= notice %>
  </p>
  <h3> Behemoth name: <%= @behemoth.name %> </h3>
  <h5> Elemental Damage: </h5>
  <% @behemoth.damage_types.each do |damage| %>
    <p>
      <%= damage.name %>
    </p>
  <% end %>
  <h5> Elemental Weakness: </h5>
  <% @behemoth.weakness_types.each do |weakness| %>
    <p>
      <%= weakness.name %>
    </p>
  <% end %>
  <h5> Location Found: </h5>
  <p>
    <% if @behemoth.location %>
      <% @behemoth.location.each do |loc| %>
      <p>  
        <%= loc.name %>
      </p>
      <% end %>  
    <% else %>
      <%= 'unknown (not in the database)' %>
    <% end %>
  </p>
    <% if @behemoth.logo.attached? %>
      <%= image_tag @behemoth.logo.variant(resize: "100x100") %>
    <% end%>
  <%= link_to 'Edit', edit_admin_behemoth_path(@behemoth) %> |
  <%= link_to 'Back', admin_behemoths_path %>
</div>