<%= form_with(model: [:admin, perk], local: true) do |form| %>
  <% if perk.errors.any? %>
    <div id='error_explanation'>
      <h2>
        <%= pluralize(perk.errors.count, 'error') %>
        prohibited this perk from being saved:
      </h2>
      <ul>
        <% perk.errors.full_messages.each do |message| %>
          <li>
            <%= message %>
          </li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <form>
    <div class="form-group">
      <label for="name">Perk Name:</label>
      <%= form.text_field :name, class: "form-control" , placeholder: "Enter Name"%>
    </div>

    <div class='form-group'>
      <%= form.label(:desc, 'Perk description: ') %>
      <%= form.text_field :desc, class: "form-control" %>
    </div>

    <div class='form-group'>
      <%= form.label(:point_1, 'Perk 1 point effect: ') %>
      <%= form.text_field :point_1, class: "form-control" %>
    </div>

    <div class='form-group'>
      <%= form.label(:point_2, 'Perk 2 point effect: ') %>
      <%= form.text_field :point_2, class: "form-control"%>
    </div>

    <div class='form-group'>
      <%= form.label(:point_3, 'Perk 3 point effect: ') %>
      <%= form.text_field :point_3, class: "form-control" %>
    </div>

    <div class='form-group'>
      <%= form.label(:point_4, 'Perk 4 point effect: ') %>
      <%= form.text_field :point_4, class: "form-control"%>
    </div>

    <div class='form-group'>
      <%= form.label(:point_5, 'Perk 5 point effect: ') %>
      <%= form.text_field :point_5, class: "form-control" %>
    </div>

    <div class='form-group'>
      <%= form.label(:point_6, 'Perk 6 point effect: ') %>
      <%= form.text_field :point_6, class: "form-control" %>
    </div>
    
    <div class="row justify-content-center">
      <a class = "btn btn-secondary btn-sm mr-1" href="<%=admin_reagents_path%>" role="button"> Back </a>
      <button type="submit" class="btn btn-primary btn-sm"> Submit </button>
    </div>
  </form>

<%end %>
  
    
  