<%= form_with(model: [ :admin, armor ], local: true) do |form| %>
  <% if armor.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(armor.errors.count, "error") %> prohibited this armor from being saved:</h2>
      <ul>
        <%armor.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <label for="name">Armor Name:</label>
    <%= form.text_field :name, class: "form-control" , placeholder: "Enter Name"%>
  </div>

  <div class="form-group">
    <%= form.label 'Cell Slot Type: ' %>
    <%= form.select :cell_slot_type, Armor.cell_slot_types.map { |k,v| [k.capitalize, k]}, {}, { class: "custom-select" } %>
  </div>

  <div class="form-group">
      <%= form.label 'Base Armor: '%>
      <%= form.number_field :base_armor , class: "form-control" %>
  </div>
    
  <div class="form-group">
    <%= form.label 'Elemental Resistance Type' %>
    <%= form.collection_select :elemental_resistance_id, Element.order(:name), :id, :name, {include_blank: true},{ class: "custom-select" } %> 
  </div>

  <div class="form-group">
      <%= form.label 'Elemental Resistance Amount: '%>
      <%= form.number_field :elemental_resistance_amount, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label 'Elemental Weakness Type' %>
    <%= form.collection_select :elemental_weakness_id, Element.order(:name), :id, :name, {include_blank: true},{ class: "custom-select" } %> 
  </div>

  <div class="form-group">
    <%= form.label 'Elemental Weakness Amount: '%>
    <%= form.number_field :elemental_weakness_amount, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label 'Perk' %>
    <%= form.collection_select :perk_id, Perk.all.order(:name), :id, :name, {include_blank: true},{ class: "custom-select" } %> 
  </div>

  <div class="form-group">
    <%= form.label 'Perk Amount: '%>
    <%= form.number_field:perk_amount, class: "form-control" %>
  </div>

  <div class="form-group">
    <a class = "btn btn-secondary btn-sm mr-1" href="<%=admin_reagents_path%>" role="button"> Back </a>
    <button type="submit" class="btn btn-primary btn-sm"> Submit </button>
  </div>

  
<% end %>

