<div class="container armors_index">
  <h1> Armor </h1>
  <p> Armor is a kind of protective suit to cover the Slayers from fatal damage.</p>            
  <table class="table table-dark table-striped">
    <thead>
      <tr>
        <th>Name</th>
        <th>Cell Slot</th>
        <th>Base Armor</th>
        <th>Elemental Resistance</th>
        <th>Resistance Amount </th>
        <th>Elemental Weakness</th>
        <th>Weakness Amount </th>
        <th>Perk</th>
        <th>Perk Amount</th>
      </tr>
    </thead>
    
    <tbody>
      <% @armors.each do |armor| %>
      <tr>
        <td> <%=armor.name %> </td>
        <td> <%= armor.cell_slot_type.capitalize %> </td>
        <td> <%= armor.base_armor %></td>
        <td> <%= armor.elemental_resistance.try(:name) %></td>
        <td> <%= armor.elemental_resistance_amount %> </td>
        <td> <%= armor.elemental_weakness.try(:name) %> </td>
        <td> <%= armor.elemental_weakness_amount %> </td>
        <td> <%= armor.perk.try(:name) %> </td>
        <td> <%= armor.perk_amount %> </td>
      </tr>
    <% end %>
    </tbody>
  </table>
</div>
