<div class="container full">
  <h1>Behemoths </h1>
  <p>Behemoths draw their cataclysmic power from aether, consuming the world.</p>            
  <table class="table table-dark table-striped">
    <thead>
      <tr>
        <th> </th>
        <th>Name</th>
        <th>Elemental Damages</th>
        <th>Elemental Weaknesses</th>
      </tr>
    </thead>
    <tbody>
      <% @behemoths.each do |behemoth| %>
      <tr>
        <td>
          <% if behemoth.logo.attached? %>
             <%= image_tag behemoth.logo.variant(resize: "45x45") %> 
          <% end%>   
        </td>
        <td>  <%=behemoth.name %> </td>
        
        <td> 
          <% behemoth.damage_types.each do |e| %>
            <% if e.avatar.attached? %>
              <%= image_tag e.avatar.variant(resize: "20x20") %>
              <small><%= e.name %></small>
            <% else %>
              <%= e.name %>
            <% end %>
          <% end %>
        </td>


        <td> 
          <% behemoth.weakness_types.each do |e| %>
            <% if e.avatar.attached? %>
              <%= image_tag e.avatar.variant(resize: "20x20") %>
              <small><%= e.name %></small>
            <% else %>
              <%= e.name %>
            <% end %>
          <% end %>
        </td>
      </tr>
    <% end %>
    </tbody>
  </table>
</div>
