<!DOCTYPE html>
<html>
  <head>
    <title>Dauntless Database Admin</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <a class="navbar-brand" href="<%=admin_path%>"> Admin Pages</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">

          <%= link_to ' Locations  ', admin_locations_path, class: "nav-item nav-link"%>
          <%= link_to ' Behemoths  ', admin_behemoths_path, class: "nav-item nav-link" %>
          <%= link_to ' Reagents  ', admin_reagents_path, class: "nav-item nav-link"%>
          <%= link_to ' Elements  ', admin_elements_path, class: "nav-item nav-link" %>
          <%= link_to ' Perks  ', admin_perks_path, class: "nav-item nav-link" %>
          <%= link_to ' Weapons  ', admin_weapons_path, class: "nav-item nav-link"%>
          <%= link_to ' Armors  ', admin_armors_path, class: "nav-item nav-link"%>
        </div>
      </div>
    </nav>
    <%= yield %>
  </body>
</html>
